/* styles.css */


body {
    font-family: monospace;
    text-align: left;
    font-size: 1.5em; 
    margin: 50px;
    background-color: #f9f8f5; /* Dark Background Color */
    color: #383A42;
    
}



label {
   margin-right: 3px;
   margin-left: 3px;
}

select, input {
   
    border: 1px solid; /* Blue Border Color */
    padding: 5px;
    background: #d5dbdd;
    font-size: 0.68em;
}

select {margin: 10px;}

button {
    
    padding: 7px;
    border: none;
    cursor: pointer;
    width: 100px;
    margin: 10px;
    font-size: 0.7em;
    background: #cfd0d1;
}

#rh, #useScale {width: 200px;}

button:hover {
   background: #a1a1a1;
}

.container {
      display: flex;
      flex-wrap: wrap;
      
}

.column {
      flex: 1;
      margin: 10px;
      box-sizing: border-box;
      
      
}


.note-row {
    display: flex;
    gap: 0px;
    margin-bottom: 5px;

}

.note-row label {
    display: flex;
    align-items: center;
    width: 50px; /* Adjust the width as needed */
}

.note-row input[type="checkbox"] {
    margin-right: 5px;
}

.header {
     
     margin-top: 10px; /* Adjust the top margin as needed */
     margin-bottom: 10px; /* Adjust the bottom margin as needed */
}

.bpm { width: 4em;}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .column {
      width: 100%;
    }
  }

#infoText {
    display: none;
  }

.result1 {
    
    font-size: 1.1em;
}

.white-bold {
    color: rgb(117, 126, 65);
    font-weight: bold;
  }
  
  .bottom-left-image {

    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 10px;
}

@media (max-width: 700px) {
  body {
      margin: 3px; /* Remove margin when display width is less than 700px */
  }
}