/* styles.css */


body {
    font-family: monospace;
    text-align: left;
    font-size: 1.5em; 
    margin: 50px;
    background-color: #2c3e50; /* Dark Background Color */
    color: #ecf0f1; /* Light Text Color */
    
}


label {
    color: #ecf0f1; /* Light Text Color */
}

select, input {
    background-color: #34495e; /* Dark Input Background Color */
    color: #ecf0f1; /* Light Text Color */
    border: 1px solid #3498db; /* Blue Border Color */
    padding: 5px;
}

select {margin: 10px;}

button {
    background-color: #3498db; /* Blue Button Color */
    color: #ecf0f1; /* Light Text Color */
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100px;
    margin: 10px;
}

#rh, #useScale {width: 200px;}

button:hover {
    background-color: #2980b9; /* Darker Blue Hover Color */
}

#chordNames {
    color: #94cdf3; /* Blue Text Color */
}

.container {
      display: flex;
      flex-wrap: wrap;
}

.column {
      flex: 1;
      margin: 10px;
      box-sizing: border-box;
}


.note-row {
    display: flex;
    gap: 0px;
    margin-bottom: 5px;

}

.note-row label {
    display: flex;
    align-items: center;
    width: 50px; /* Adjust the width as needed */
}

.note-row input[type="checkbox"] {
    margin-right: 5px;
}

.header {
     color:#b5bfe2;
     margin-top: 10px; /* Adjust the top margin as needed */
     margin-bottom: 10px; /* Adjust the bottom margin as needed */
}

.bpm { width: 4em;}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .column {
      width: 100%;
    }
  }

#infoText {
    display: none;
  }

.result1 {
    color: #eeb091;
    font-size: 1.1em;
}

.white-bold {
    color: white;
    font-weight: bold;
  }
  